<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <div>Component timings as span</div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  data () {
    return {
      span: null
    }
  },
  created () {
    this.span = this.$apm.startSpan('create-mount-duration', 'custom')
  },
  mounted () {
    this.span && this.span.end()
  },
  components: {
    HelloWorld
  }
}
</script>
